// Variables

$light-grey: #ccc;
$dark-grey: #222;
$mustard-yellow: #fa940b;
$red: #c10000;
$white: #fff;
$black: #000;
$body-bg: #c1bdba;
$white: #ffffff;
$gray: #ddd;
$greenish-blue: #0c7a7a;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

$text-color: $dark-grey;

// Font Families
$titillium: Titillium Web, sans-serif;
