// Variables

$light-grey: #ccc;
$dark-grey: #222;
$mustard-yellow: #fa940b;
$red: #c10000;
$greenish-blue: #0c7a7a;
$white: #fff;
$black: #000;

$text-color: $dark-grey;

// Font Families
$titillium: Titillium Web, sans-serif;
