<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title> {%if page.title%} {{page.title}} · {%endif%} NEADS {% if page.titleAfter%} · {{page.titleAfter}}  {% endif %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{page.meta}}">
    <link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
</head>
<body class="noscript">
   
    <div class="site-wrapper" data-state="slide-closed">
      <div class="sliding-canvas">

{% include navtop.html %}
        </div>
    </div>
    
   <main>
    {{content}}
    </main>
    

    {% include footer.html %}
    
 <!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="js/push-menu.js"></script>
</body>
</html>
