<footer class="grid">
	<div class="unit xs-1 s-1 m-3-4 l-3-4">
		<div class="grid">
			<div class="unit xs-1 s-1 m-1-2 l-1-4">
				<h6>About</h6>
				<ul>
					<li>Mission &amp; Visions</li>
					<li>FAQ</li>
					<li>Contact</li>
				</ul>
			</div>	
			
			<div class="unit xs-1 s-1 m-1-2 l-1-4">
				<h6>Services</h6>
				<ul>
					<li>Service Dogs</li>
					<li>Training</li>
					<li>Apply for a Dog</li>
				</ul>
			</div>	
			
			<div class="unit xs-1 s-1 m-1-2 l-1-4">
				<h6>Give</h6>
				<ul>
					<li>Donate</li>
					<li>Get involved</li>
				</ul>
			</div>	

			<div class="unit xs-1 s-1 m-1-2 l-1-4">
				<h6>Resources</h6>
				<ul>
					<li>Sucess Stories</li>
					<li>Events</li>
					<li>Shop</li>
				</ul>
			</div>
		</div>	
	</div>		

	<div class="unit xs-1 s-1 m-1-4 l-1-4">
		<ul>
			<li> <!-- instagram icon --> </li>
			<li> <!-- facebook icon --> </li>
			<li> <!-- twitter icon --> </li>				
		</ul>
	</div>	

	<p class="unit xs-1 s-1 m-1 l-1">&copy;2016 NEADS. All rights reserved.</p>
</footer>