<footer>
	<p>About</p>
	<ul>
		<li>Mission &amp; Visions</li>
		<li>FAQ</li>
		<li>Contact</li>
	</ul>
	
	<p>Services</p>
	<ul>
		<li>Service Dogs</li>
		<li>Training</li>
		<li>Apply for a Dog</li>
	</ul>
	
	<p>Give</p>
	<ul>
		<li>Donate</li>
		<li>Get involved</li>
	</ul>

	<p>Resources</p>
	<ul>
		<li>Sucess Stories</li>
		<li>Events</li>
		<li>Shop</li>
	</ul>

	<ul>
		<li> <!-- instagram icon --> </li>
		<li> <!-- facebook icon --> </li>
		<li> <!-- twitter icon --> </li>				
	</ul>

	<p>&copy;2016 NEADS. All rights reserved.</p>
</footer>