<footer class="grid">
	<div class="unit xs-1 s-1 m-3-4 l-3-4">
		<div class="grid">
			<div class="ft-header unit xs-1 s-1 m-1-2 l-1-4">
				<p class="giga">About</p>
				<ul class="mega">
					<li>Mission &amp; Visions</li>
					<li>FAQ</li>
					<li>Contact</li>
				</ul>
			</div>	
			
			<div class="ft-header unit xs-1 s-1 m-1-2 l-1-4">
				<p class="giga">Services</p>
				<ul class="mega">
					<li>Service Dogs</li>
					<li>Training</li>
					<li>Apply for a Dog</li>
				</ul>
			</div>	
			
			<div class="ft-header unit xs-1 s-1 m-1-2 l-1-4">
				<p class="giga">Give</p>
				<ul class="mega">
					<li>Donate</li>
					<li>Get involved</li>
				</ul>
			</div>	

			<div class="ft-header unit xs-1 s-1 m-1-2 l-1-4">
				<p class="giga">Resources</p>
				<ul class="mega">
					<li>Sucess Stories</li>
					<li>Events</li>
					<li>Shop</li>
				</ul>giga
			</div>
		</div>	
	</div>		

	<div class="unit xs-1 s-1 m-1-4 l-1-4">
		<ul class="icons giga">
			<li><a href="https://www.instagram.com/neadsdogs/?ref=badge" class="icon-ins"></a></li>
			<li><a href="https://www.facebook.com/NEADSdogs" class="icon-fb"></a></li>
			<li><a href="https://twitter.com/NEADSdogs" class="icon-tw"></a></li>			
		</ul>
	</div>	

	<div class="unit xs-1 s-1 m-1 l-1"><p>&copy;2016 NEADS. All rights reserved.</p></div>
</footer>