<header>
   
  <div>
      <img class="logo" src="images/logo.svg" href="index.html" alt="NEADS logo">
  </div>
      
         <!-- Menu Toggle Icon -->
  <a class="toggle-btn i-menu" href="#main-menu"><span>Menu</span></a>

  <nav class="navigation slide-menu nav" role="navigation" id="nav">
    <a class="close-btn i-close" href="#main-menu"><span>Close</span></a>
    <ul>

        <li><a href="index.html" >HOME</a></li>
        <li><a href="services.html" >SERVICES</a></li>
        <li><a href="resources.html">RESOURCES</a></li>
        <li><a href="give.html" >GIVE</a></li>
        <li><a href="login.html">LOGIN</a></li>
        <li><a href="give.html">DONATE</a></li>
    </ul>
      
  </nav>
    
    
</header>
