<header>
   
  <div>
      <img class="logo" src="images/logo.svg" alt="NEADS logo">
  </div>
      
  <!-- Menu Toggle Icon -->
  <a class="toggle-btn i-menu" href="#main-menu"><span>Menu</span></a>

  <nav class="navigation slide-menu">
    <a class="close-btn i-close" href="#main-menu"><span>Close</span></a>
    <ul>
       
        <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}nav-current{% endif %}">ABOUT</a></li>
        <li><a href="{{site.baseurl}}/service" class="{% if page.url == '/' %}nav-current{% endif %}">SERVICE</a></li>
        <li><a href="{{site.baseurl}}/resource" class="{% if page.url == '/' %}nav-current{% endif %}">RESOURCE</a>
        </li>
        <li><a href="{{site.baseurl}}/give" class="{% if page.url == '/' %}nav-current{% endif %}">GIVE</a></li>
        <li><a href="{{site.baseurl}}/login" class="{% if page.url == '/' %}nav-current{% endif %}">LOGIN</a></li>
    </ul>
  </nav>

</header>