<header>
   
  <div>
      <img class="logo" src="images/logo.svg" alt="NEADS logo">
  </div>
      
  <!-- Menu Toggle Icon -->
  <a class="toggle-btn i-menu" href="#main-menu"><span>Menu</span></a>

  <nav class="navigation slide-menu">
    <a class="close-btn i-close" href="#main-menu"><span>Close</span></a>
    <ul>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">SERVICE</a></li>
        <li><a href="#">RESOURCE</a></li>
        <li><a href="#">GIVE</a></li>
    </ul>
  </nav>

</header>