.form-login a {
  text-decoration:none;
  transition:.5s ease;
  &:hover {
    color:$light-grey;
  }
}

.form-login {
  background:rgba($light-grey,.3);
  padding: 40px;
  max-width:1300px;
  margin:40px auto;
  font-family: $titillium;
}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba($dark-grey,.20);
    color:$black;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    &:hover {
      background:$red;
      color:$white;
    }
  }
  .active a {
    background:$dark-grey;
    color:$white;
  }
}

.tab-content > div:last-child {
  display:none;
}

label {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color:$black;
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:22px;
  .req {
    margin:2px;
      color: rgba($light-grey,.3);
  }
}

label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
  .req {
    opacity:0;
  }
}

label.highlight {
  color:$black;
}

input, textarea {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid $light-grey;
  color:$black;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
    &:focus {
    outline:0;
    border-color:$black;
  }
}

textarea {
  border:2px solid $light-grey;
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
  font-family: $titillium;
}

.top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float:left;
    width:48%;
    margin-right:4%;
    &:last-child { 
      margin:0;
    }
  }
}


.btn-gs{
    width: 100%;
    display: block;
}

.forgot {
  margin-top:-20px;
  text-align:right;
  color: $red;
}

.forgot:hover {
    color: $black;
}