<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{page.meta}}">
    <link href="https://file.myfontastic.com/GJr888HWLVE4beAYbY2y9k/icons.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">    
    <link href="{{site.baseurl}}/favicon.ico" rel="shortcut icon">
</head>

<body class="noscript">

  {% include navtop.html %}

  <div class="site-wrapper" data-state="slide-closed"></div>
    <div class="sliding-canvas"></div>
  </div>

  {{content}}
    

  {% include footer.html %}

    
 <!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="{{site.baseurl}}js/main.js"></script>
</body>
</html>
